*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore system files and folders
.DS_Store
Thumbs.db
.idea/
.gradle/
build/
.env

# OS specific
/Application Data/
/Local Settings/
/My Documents/
/AppData/

# IDE specific files
*.iml
*.log
.vscode/
PycharmProjects/

# Ignore Python-related folders
__pycache__/
*.py[cod]

# Ignore other temporary files
*.log
*.db
